html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Global Dark Mode Styles */
body {
    background-color: #121212;
    color: #EAEAEA;
}

/* Optional: Style the container to better fit dark mode */
.container {
    background-color: #1D1D1D;
    border-radius: 8px;
    padding: 20px;
}

/* Optional: Style the cards for more contrast */
.card {
    background-color: #1D1D1D;
    border: 1px solid grey;
}

.card-title, .card-text, .card-body {
    color: #EAEAEA;
}

.card-img-top {
    filter: brightness(70%);
}
