@using SocialMediaMVCwebApp.ViewModels
@model LoginViewModel



@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<h3 class="container mb-0 bg-dark text-center" style="max-width:35%; border-radius: 8px 8px 0 0">Login</h3>
<main class=" form-signin d-flex container justify-content-center w-50 bg-dark" style="max-width:35%; border-radius: 0 0 8px 8px">
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-2  w-100" >Login</button>
        </div>
    </form>
</main>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

